* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #db977f;
}

.card {
    width: 80%;
   
}

#image {
    max-width: 600px;
    padding-top: 2em;
}

.header {
    background-color: #1f174b;
    border: 5px solid #d82129;
}

.main-title {
    color: white;
}

.buffer {
    height: 2.5em;
}

.options {
    background-color: #1f174b;
    border: 2px solid  #d82129;
    color: #db977f;
    width: 80%;
       
}

.btn {
    width: 60%;
    background-color: #1f174b;

}

.small-buffer {
    height: 1em;
}

