* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #db977f;
}

.card {
    width: 80%;
}

#image {
    max-width: 100%;
}

.header {
    background-color: #1f174b;
    border: 5px solid #d82129;
}

.main-title {
    color: #db977f;
}

.buffer {
    height: 2.5em;
}

.options {
    background-color: navy;
    border: 2px solid  #d82129;
    color: #db977f;
       
}

